{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans(domain = "title") }} - HardWareHouse{% endblock %}

{% block body %}
    <h1>{{ 'home.main.title'|trans(domain = "homepage") }}</h1>
    <p>{% if app.user is not null %}{{ app.user.username }}{% endif %}</p>
{% endblock %}
