{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Categories list</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>Logo</th>
            </tr>
        </thead>
        <tbody>
        {% if categories is not null %}
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td>{{ category.logo }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">No results founds</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

{% endblock %}
