<div class="flex flex-col gap-2 w-full">
    {% for attribute in attributes %}
        <span>{{ attribute.categoryAttribute.attribute.name }}: <strong>{{ attribute.value }}</strong></span>
    {% endfor %}
</div>
