{% extends 'base.html.twig' %}

{% block title %}Crée votre config PC - HardWareHouse{% endblock %}

{% block body %}
    <aside>
        <h1>Construis ton ordinateur</h1>
        <div class="flex flex-col">
            <div class="actions">

            </div>
        </div>
    </aside>
    <section>

    </section>
{% endblock %}
